h1 {
  padding: 0.5rem 1rem;
}

body {
  margin: 0;
}

.login-page {
  text-align: center;
}

.spotifyBtn {
  margin: 0 auto;
  display: block;
  margin: auto;
  text-align: center;
  text-align: center;
  display: inline-block;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
